html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.banner-image {*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    width: 100vw;*/
    /*height: 100vh;*/
    /*z-index: -1;*/
/*}*/

/*.home-accoridan {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

.footer {
    background-color: #ee6e73;
}

.footer .container {
    display: flex;
}