/******* Root Variables *******/

:root {
    --body-background: #eceff1;
    --primary-font: cursive, sans-serif;
    --secondary-font: Roboto, Ariel;
    --component-color: #ba68c8;
    --card-text: #ccc;
    --mob-font: 1rem;
    --tab-font: 1.2rem;
    --desk-font: 1.5rem;
    --sm-h1-font: 1.5rem;
    --sm-h2-font: 1.3rem;
    --sm-h3-font: 1.2rem;
    --md-h1-font: 1.8rem;
    --md-h2-font: 1.75rem;
    --md-h3-font: 1.6rem;
    --lg-h1-font: 2.5rem;
    --lg-h2-font: 2.2rem;
    --lg-h3-font: 2rem;
    --text-padding: 1rem;
}

/****** End Root Variables ******/

/****** Layout Resets ******/

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    font-size: var(--mob-font);
}

body {
    background-color: var(--body-background);
}

/****** End Resets ******/

/***** Index Page Heading Block ******/

.index-head {
    display: flex;
    align-items: center;
}

h1 {
    display: inline-block !important;
}

.add-btn {
    margin-left: 13rem;
}

/***** End Heading Block ******/

/***** Message Alert ******/

.alert {
    margin-top: 10px;
    background-color: yellow;
    color: red !important;
}

/***** End Message Alert ******/

/**** Recipe Display Cards ****/

#short_description {
    padding: var(--text-padding);
}

.collapsible-body {
    display: flex;
    flex-direction: column;
    align-content: center;
}

h3 {
    font-size: var(--lg-h3-font);
    margin: 1rem auto 0 auto;
}

#accordian-img {
    width: 100%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
}


/******* End Display Cards *******/


/******* Index Page Accordian *******/

.cuisine-titles {
    margin-left: 8rem;
    margin-right: auto;
    text-transform: capitalize;
}

/******* Footer ********/

.footer .container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/******* End Footer ********/

/*.material-icons {*/
/*    margin-left: 2rem;*/
/*}*/

/******* End Accordian *******/

/******* Tablet Screens *******/

@media screen and (min-width: 768px) {
    
    html {
        font-size: var(--tab-font);
    }
    
    /* Display Card Image */
    
    #accordian-img {
        max-height: 300px;
    }
    
    /* End Display Card Image */
    
    /* Headings Font Sizes */
    
    h1 {
        font-size: var(--md-h1-font);
    }
    
    h2 {
        font-size: var(--md-h2-font);
    }
    
    h3 {
        font-size: var(--md-h3-font);
    }
    
    /* End of Headings */
    
    /* Recipe Displays */
    
    .ing-list {
        padding: 0 var(--text-padding);
        display: flex;
        justify-content: space-between;
    }
    
    .ing-list-name {
        list-style-type: disc;
        font-size: var(--tab-font);
    }
    
    .ing-list-qty, .instructions-steps {
        font-size: var(--tab-font);
    }
    
    .origin-skillz {
         display: flex;
         justify-content: space-around;
    }
    
    .diet-specs {
        display: flex;
        justify-content: space-around;
    }
    
    .card.small .card-image {
        max-height: 70% !important;
    }
    
    .card .card-image img {
        width: 100%;
        max-height: 250px;
    }
    
    .course-cards {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    /* End Recipe Displays */
}

/******* End Tablet Screens *******/

/******* Desktop Screens & Bigger *******/

@media screen and (min-width: 1200px) {
    
    html {
        font-size: var(--desk-font);
    }
    
    /* Headings Font Sizes */
    
    h1 {
        font-size: var(--lg-h1-font);
    }
    
    h2 {
        font-size: var(--lg-h2-font);
    }
    
    h3 {
        font-size: var(--lg-h3-font);
    }
    
    /* End of Headings */
    
    /* Display Card Image */
    
    #accordian-img {
        max-height: 450px;
    }
    
    /* End Display Card Image */
    
    /* Recipe Displays */
    
    .ing-list-name {
        list-style-type: disc;
        font-size: var(--desk-font);
    }
    
    .ing-list-qty {
        font-size: var(--desk-font);
    }
    
    .instructions-steps {
        font-size: 1.2rem;
    }
    
    /* End Recipe Displays */
}

/******* End Desktop Screens *******/

