<nav>
    {% if session.logged_in %}
    <div class="container">
        <div class="nav-wrapper">
            <a href="{{ url_for('index') }}" class="brand-logo">What2Eat</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('all_recipes') }}">Recipes</a></li>
                <!--<li><a href="{{ url_for('logout') }}">Logout</a></li>-->
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                <!--<li><a href="{{ url_for('logout') }}">Logout</a></li>-->
            </ul>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="nav-wrapper">
            <a href="{{ url_for('index') }}" class="brand-logo">What2Eat</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('all_recipes') }}">Recipes</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('all_recipes') }}">Recipes</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            </ul>
        </div>
    </div>
    {% endif %}
</nav>
