{% extends 'base.html' %}
{% block content %}

<h2>Add Recipe</h2>

  <div class="row">
    <form action="{{ url_for('add_recipe') }}" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="created_by" name="created_by" type="text" class="validate">
          <label for="created_by">Created By (username)</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <input id="recipe_name" name="recipe_name" type="text" class="validate">
          <label for="recipe_name">Recipe Name</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">assignment</i>
          <textarea id="description" name="description" class="materialize-textarea" data-length="250"></textarea>
          <label for="description">Description</label>
        </div>
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">mode_edit</i>
          <input id="ingredients" name="ingredients" type="text" class="validate">
          <label for="ingredients">Ingredients</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <input id="instructions" name="instructions" type="text" class="validate">
          <label for="instructions">Instructions</label>
        </div>
        <div class="input-field col s12 m6">
          <select name="cuisine_origin">
            <option value="" disabled selected>Choose your option</option>
            <option  value="1">italian</option>
            <option  value="2">irish</option>
            <option  value="3">french</option>
            <option  value="4">chinese</option>
            <option  value="5">japanese</option>
            <option  value="6">indian</option>
          </select>
          <label for="cuisine_origin">Cuisine Origin</label>
        </div>
        <div class="input-field col s12 m6">
          <select name="dietary_name">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">keto</option>
            <option value="2">standard</option></option>
            <option value="3">vegetarian</option>
            <option value="4">carnivore</option>
            <option value="5">gluten-free</option>
            <option value="6">paleo</option>
            <option value="7">vegan</option>
            <option value="8">dairy-free</option>
            <option value="9">nut-free</option>
          </select>
          <label for="dietary">Dietary (e.g. Keto)</label>
        </div>
        <div class="input-field col s12 m6">
          <select name="course_name">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">breakfast</option>
            <option value="2">lunch</option></option>
            <option value="3">dinner</option>
            <option value="4">dessert</option>
          </select>
          <label for="course">Course (e.g. Dinner)</label>
        </div>
        <div class="input-field col s12 m6">
          <select name="chef_skillz">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">easy</option>
            <option value="2">moderate</option></option>
            <option value="3">master-chef</option>
          </select>
          <label for="chef_skillz">Chef_Skillz</label>
        </div>
        <div class="input-field col s12 m6">
          <select name="allergens">
            <option value="" disabled selected>Choose your option</option>
            <option  value="1">gluten</option>
            <option value="2">egg</option></option>
            <option value="3">fish</option>
            <option value="4">nuts</option>
            <option value="5">dairy</option>
          </select>
          <label for="allergens">Allergens</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons">add</i>Add Recipe</button>
    </form>
  </div>
        

{% endblock %}