<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
    <header>
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="{{ url_for('recipes') }}">All Recipes</a></li>
              <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
              <li><a href="#!">Edit Recipe</a></li>
              <li class="divider"></li>
              <li><a href="#!">Delete Recipe</a></li>
            </ul>
            <nav>
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="{{ url_for('index') }}" class="brand-logo">What2Eat</a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
                            <li><a href="{{ url_for('index') }}">Home</a></li>
                            <li><a href="{{ url_for('login') }}">Login</a></li>
                            <li><a href="{{ url_for('register') }}">Register</a></li>
                            <!-- Dropdown Trigger -->
                            <li><a class="dropdown-trigger" href="#" data-target="dropdown1">Recipes<i class="material-icons right">arrow_drop_down</i></a></li>
                        </ul>
                        <ul class="side-nav" id="mobile-demo">
                            <li><a href="{{ url_for('index') }}">Home</a></li>
                            <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                            <li><a href="{{ url_for('login') }}">Login</a></li>
                            <li><a href="{{ url_for('register') }}">Register</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
    </header>
    
    <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <div>&copy; Kevin Walton 2019</div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="../static/js/app.js"></script>
</body>

</html>

