{% extends 'base.html' %}
{% block content %}
    <h2>Choose Your Cuisine</h2>
  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Italian</div>
      <div class="collapsible-body">
          <h3>Courses:</h3><hr /> 
          <div class="home-accordian">
            <div class="row">
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/breakfast-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Breakfast Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/lunch-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Lunch Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/dinner-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Dinner Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/dessert-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Dessert Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Irish</div>
      <div class="collapsible-body">
          <h3>Courses:</h3><hr /> 
           <div class="home-accordian">
            <div class="row">
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/breakfast-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Breakfast Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/lunch-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Lunch Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/dinner-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Dinner Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/dessert-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Dessert Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>French</div>
      <div class="collapsible-body">
          <h3>Courses:</h3><hr />
          <div class="home-accordian">
            <div class="row">
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/breakfast-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Breakfast Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/lunch-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Lunch Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/dinner-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Dinner Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/dessert-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Dessert Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Chinese</div>
      <div class="collapsible-body">
          <h3>Courses:</h3><hr /> 
          <div class="home-accordian">
            <div class="row">
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/breakfast-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Breakfast Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/lunch-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Lunch Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/dinner-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Dinner Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/dessert-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Dessert Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Indian</div>
      <div class="collapsible-body">
          <h3>Courses:</h3><hr />
          <div class="home-accordian">
            <div class="row">
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/breakfast-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Breakfast Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/lunch-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Lunch Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/dinner-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Dinner Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/dessert-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Dessert Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Japanese</div>
      <div class="collapsible-body">
          <h3>Courses:</h3><hr />
          <div class="home-accordian">
            <div class="row">
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/breakfast-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Breakfast Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/lunch-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Lunch Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/dinner-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Dinner Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                    <img src="../static/img/dessert-img.jpeg">
                  </div>
                  <div class="card-content">
                    <p>Dessert Choices</p>
                  </div>
                  <div class="card-action">
                    <a href="#">See Options</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </li>
  </ul>
  <div class="banner-image">
      <img src="../static/img/home-banner.jpg" alt="image of food platter" />
  </div>
{% endblock %}
