{% extends 'base.html' %}
{% block content %}
    <h1>What2Eat Recipe App</h1>
     <div class="banner-image">
        <img src="../static/img/home-banner.jpg" alt="image of food platter" />
     </div>
  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Italian</div>
      <div class="collapsible-body">
          <h3>Courses:</h3> 
          <ul>
              <li>Breakfast</li>
              <li>Lunch</li>
              <li>Dinner</li>
              <li>Dessert</li>
              <li>Snack</li>
          </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Irish</div>
      <div class="collapsible-body">
          <h3>Courses:</h3> 
          <ul>
              <li>Breakfast</li>
              <li>Lunch</li>
              <li>Dinner</li>
              <li>Dessert</li>
              <li>Snack</li>
          </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>French</div>
      <div class="collapsible-body">
          <h3>Courses:</h3> 
          <ul>
              <li>Breakfast</li>
              <li>Lunch</li>
              <li>Dinner</li>
              <li>Dessert</li>
              <li>Snack</li>
          </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Chinese</div>
      <div class="collapsible-body">
          <h3>Courses:</h3> 
          <ul>
              <li>Breakfast</li>
              <li>Lunch</li>
              <li>Dinner</li>
              <li>Dessert</li>
              <li>Snack</li>
          </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Indian</div>
      <div class="collapsible-body">
          <h3>Courses:</h3> 
          <ul>
              <li>Breakfast</li>
              <li>Lunch</li>
              <li>Dinner</li>
              <li>Dessert</li>
              <li>Snack</li>
          </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Japanese</div>
      <div class="collapsible-body">
          <h3>Courses:</h3> 
          <ul>
              <li>Breakfast</li>
              <li>Lunch</li>
              <li>Dinner</li>
              <li>Dessert</li>
              <li>Snack</li>
          </ul>
      </div>
    </li>
  </ul>
{% endblock %}
