{% extends 'base.html' %}
{% block content %}
<div class="index-head">
  <h1>Choose Your Cuisine</h1> 
  <button class="add-btn"><a href="{{ url_for('add_recipe') }}"><i class="material-icons">add</i>Add Recipe</a></button>
</div>
  <ul class="collapsible">
  {% for cuisine in cuisines %}
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i><span class="cuisine-titles">{{ cuisine.origin }}</span></div>
      <div class="collapsible-body">
          <h3><a href="#">See Options</a></h3><hr />
      </div>
    </li>
  {% endfor %}
  </ul>
{% endblock %}